<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title ,class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body ,class: 'form-control'%>
  </div>

  <%= f.hidden_field :latitude, :id => 'map_latitude'%>
  <%= f.hidden_field :longitude, :id => 'map_longitude'%>
  <%= f.hidden_field :address %>
  

  <div id="map" class="row-sm-12"></div>
  <style type="text/scss">
    #map {
      height:450px;
    }
  </style>
    <script type="text/javascript">
        L.Icon.Default.imagePath = "/assets";
        var map = L.map('map').setView([39.099388, 141.079960],17);
        var osmUrl = "https://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg";
        var osmAttrib = "Map data &COPY;OpenstreetMap contributors";
        L.tileLayer(osmUrl,{
          attribution: osmAttrib,
          maxZoom: 20,
        }).addTo(map);

        var marker = L.marker([39.099388, 141.079960]).addTo(map);
        
        map.on("click",function(e){
          marker.setLatLng(e.latlng);
          $('#map_latitude').val(e.latlng.lat);
          $('#map_longitude').val(e.latlng.lng);
        });
    </script>
  <br />
  <div class="actions">
    <%= f.submit class:'btn btn-primary'%>
  </div>
<% end %>
