<% if user_signed_in? %>
  <strong><%= current_user.email %>でログイン中</strong>.
  <%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Maps</h1>
  <style type="text/css">
    #map {
      height:450px;
    }
  </style>
<div id="map"></div>
<script type="text/javascript">
      L.Icon.Default.imagePath = "/assets";
      var map = L.map('map').setView([39.099388, 141.079960],17);
      var osmUrl = "http://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg";
      var osmAttrib = "Map data &COPY; OpenStreetMap contributors";
      L.tileLayer(osmUrl, {
         attribution: osmAttrib,
         maxZoom: 20,
      }).addTo(map);
</script>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.title %></td>
        <td><%= map.latitude %></td>
        <td><%= map.longitude %></td>
        <td><%= map.address %></td>
        <td><%= map.body %></td>
        <script type="text/javascript">       
            var marder = L.marker(
              [<%= map.latitude %>,<%= map.longitude %>],
              { title: map.title}
              ).addTo(map)
              .bindPopup("<h3><%= map.title %><h3><p><%= map.body %></p>")
              .openPop();
        </script>
        <td><%= link_to 'Show', map %></td>
        <td><%= link_to 'Edit', edit_map_path(map) %></td>
        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<br>
        

<%= link_to 'New Map', new_map_path %>
